@charset "utf-8";
html,body{
margin:0px; height:100%; text-align:center; color: #333333;
font-family:"微软雅黑", "Arial Unicode MS";
background-color:#FFF;background-size:100% 100%;width: 100%;
}
@font-face{font-family:Agencyb FB;src: url(agencyb.ttf);
}
.Digiface{font-size:48px;font-family:Agencyb FB;}

.left_div{height:88%;width:20%;float:left; margin:10px 1% 0% 2%;
}
.mid_div{height:88%; width:52%;float:left; margin:10px 1% 0% 1%;
}
.right_div{height:94%; width:20%;float:left; margin:10px 2% 0% 1%;
}
.top_div{height:66px;width:100%; background-color:#EEEEEE; margin-bottom:12px;font-size:24px;
}

.btm_div{height:90%;width:100%; background-color:#EEEEEE;
}

.digi-div{margin:0% 8%;border-bottom:2px solid #999999; padding-top:3%;z-index: 7;
}
.ambtn{border:none;float: left; width: 30%; font-size: 44px; color: red;
		position: relative;z-index: 9;
}
#addtime{height:23%;background-color:rgba(0,0,0,0); position: relative;
}
#tempdiv{height:auto;background-color:rgba(0,0,0,0);}

.mclass_sel{width:100%; height:90%;display:inline-block;overflow:
background-repeat: no-repeat;background-size:100% 100%;background-position:center center;
}

.men_div{
	width:32%; height:190px; float:left; text-align:left;
	background-color:#ffffff;margin:5px 3px;
	background-repeat: no-repeat;
	background-size:cover;background-position:center center;
}

.cbtndiv{color: #333333;background-color: #343434; display:none;
	border-radius: 50%;overflow: hidden;
	margin:2%;width: 220px; height:206px;
	position: relative;vertical-align: middle;
}
.cbtndiv img{width:100%;}
.cbtndiv.norad{border-radius: 0;}

.cmendiv{color: #333333;background-color: #343434; width:48%;height: auto; display:none;
	border-radius: 50%;overflow: hidden;margin:40px auto;}
.cmendiv img{width:100%;}
.cmendiv.norad{border-radius: 0;}


.ctrl-div{height:19%;width:48%;float:left;margin:3px;background-color:#343434;
}
.ctrl-div-on{background-color:#0071BB;}

.selzone{
	background-color:rgba(0,0,0,0.5);
	background-repeat:no-repeat;
	background-size:26px;
	background-position:95% center;
	color:#ffffff;
	bottom:0px;
	position: relative;
	padding:6px 12px;
	font-size:20px;
}

#pwd{font-size:36px;width:300px;height:52px;
}
#ctinfo{font-size:36px; color:white; bottom: 30%;left:40%; position: fixed; display:none;
	background-color: #5562EB;border-radius: 50px;padding: 20px 30px;z-index: 92;
}
#overlay {
	width:80%;height:100%;position:fixed;top:0;left:23%;z-index:90;
	display:block; background-color: #000; opacity:0.5;
}
.set_div{
	font-size:36px;
	text-align:center;
	margin:30px 0px;
}
input[type=number]{
	font-size:36px;
	text-align:center;
	width:120px;
}
input.sett{
	font-size:48px;
	text-align:center;
	width:250px;
}

.pop{
	display: none;z-index:9999;
	position: fixed;
	top: 0;left: 0;width: 100%;height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
.pop .popMain{ width: 600px; min-height: 300px; background: #fff; position: absolute; left: 50%; top: 30%; margin-left: -300px;}
.popMiddle p{ text-align: center; font-size: 36px; color: #666; padding: 48px 0;}
.pop .popBottom{ position: absolute; bottom: 0; left: 0; display: flex; width: 100%; height: 80px; text-align: center; background: #488ACC;}
.pop .popBottom span{ flex: 1; text-align: center; font-size: 24px; color: #fff; line-height: 80px; cursor: pointer;}


.codrops-top{
	position:relative;
	z-index: 999;
	background: #0071BB;
	background-size:100% 100%;
	color:#FFF;
	font-size:36px;
	width:100%;
	height:65px;
	padding-top:5px;
}
.codrops-top-l{
	padding-left:20px;
	height:60px;
	width:90%;
	float:left;
}
#setting_pwd{
	border: 1px solid #35a5e5;
	outline: medium none;
	text-align:center;
}
#tvd{
	display: none;
	object-fit: fill;
	position: fixed;
	left: 0px;top: 10px;
	width: 77%;height: 92%;
	z-index: 9;
}
#shawd{
	position: fixed;width: 100%;height: 100%;
	left: 0px;top: 0px;
	display: none;z-index: 8;opacity: 0.3;
	background-color: black;
}
#showvdo{
	color:#0071bb; font-size:20px;
	border:5px solid #0071bb;border-radius:14px; padding:3px
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  font-size:36px;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
  height: 100px;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 41px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 39px; padding: 0; line-height: 39px;
    font-size: 28px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;text-align: left;
}
.onoffswitch-inner:before {
    content: "开";
    padding-left: 28px;
    background-color: #0071BB; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "关";
    padding-right: 28px;
    background-color: #F53434; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 28px; margin: 5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 65px;
    border: 2px solid #999999; border-radius: 41px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

*,*::before,*::after {box-sizing: inherit;}
html {box-sizing: border-box;}
