<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>赶海</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../css/com.css"/>
<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
var ctrl_addr='http://192.168.2.105:9001';
function do_login(){
	$.post(ctrl_addr+'/setting',{
		m:'l',
		p:$('#setting_pwd').val(),
	},function(r){
		var rj=JSON.parse(r);
		if(rj.p=='ok'){
			$('.overlay').css('display','none');
			get_data();
		}else{
			$('#setting_save_info').html('密码错误');
		}
	}).error(function(){$('#setting_save_info').html('未连接到控制器');});
	return;
}
function get_data(){
	  $.post(ctrl_addr+'/setting',{
		m:'get',
		p:$('#setting_pwd').val(),
	  },function(rj){
		var r=JSON.parse(rj);
		$('#t1').val(r.t1);
		$('#t2u').val(r.t2u);
		$('#t2d').val(r.t2d);
		$('#t3').val(r.t3);
		$('#spdu').val(r.spdu);
		$('#spdd').val(r.spdd);
		$('#sn').val(r.sn);	
		$('#stapwd').val(r.stapwd);
		$('#ver').html(r.ver);
		//$('#mute option:eq('+r.mute+')').attr('selected','selected');
	  });
}
function do_save_setting(obj){
	$.post(ctrl_addr+'/setting',{
		m:'w',
		p:$('#setting_pwd').val(),
		t1:$('#t1').val(),
		t2u:$('#t2u').val(),
		t2d:$('#t2d').val(),
		t3:$('#t3').val(),
		spdu:$('#spdu').val(),
		spdd:$('#spdd').val(),
		sn:$('#sn').val(),
		stapwd:$('#stapwd').val()
	},function(r){
		var rj=JSON.parse(r);
		if(rj.p!='ok'){
			$(obj).val('保存失败');
		}else{
			$(obj).val('保存成功');			
		}
	}).error(function(){$(obj).val('网络断开，保存失败');});
	return;
}
function do_upgrade(obj){
	$(obj).val('更新中...')
	$.post(ctrl_addr+'/sys_update',{
		m:'up',
	},function(r){
		var rj=JSON.parse(r);
		$(obj).val(r.i);
	}).error(function(){$(obj).val('网络链接错误，失败');});
	return;
}
function do_reboot(obj){
	$(obj).val('重启中...')
	$.post(ctrl_addr+'/setting',{
		m:'reboot',
	},function(r){
		
	}).error(function(){});
	return;
}
</script>
</head>
<body>
<div class="codrops-top">
	<div class="codrops-top-l">一起去赶海餐桌自助操作系统</div>    
    <a href="index1.html"><img src="../css/back.png" height="50px" /></a>
</div>

<div>
  <div class="set_div">  
	启动缓冲(毫秒)： <input type="number" id="t1" value="" step="1" min="1" max="9999"/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	向上全速(毫秒)： <input type="number" id="t2u" value="" step="1" min="1" max="9999"/>
  </div>
  <div class="set_div">  
	向下全速(毫秒)： <input type="number" id="t2d" value="" step="1" min="1" max="9999"/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	停止缓冲(毫秒)： <input type="number" id="t3" value="" step="1" min="1" max="9999"/>
  </div>
  <div class="set_div">  
	上升缓冲速度%： <input type="number" id="spdu" value="" step="1" min="1" max="spdu"/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	下降缓冲速度%： <input type="number" id="spdd" value="" step="1" min="1" max="spdd"/>
  </div>
  <div class="set_div">  
	烹饪密码： <input type="text" id="stapwd" class="sett" value=""/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	设备编号： <input type="text" id="sn" class="sett" value=""/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class="set_div">
  	固件版本: <span id="ver"></span> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="abtn bbtn" value="保存设置" style="font-size:36px;" onClick="do_save_setting(this)">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" class="abtn bbtn" value="重启" style="font-size:36px;" onClick="do_reboot(this)" >
  </div>

</div>

<div class="overlay" style="display:block; background-color: #000; opacity:1">
  <div style="top:35%; left:35%; position:absolute; color:#FFF; text-align:center">
    <div style="color:#FFF; text-align:center; font-size:24px; border-bottom:1px solid #FFF; padding-bottom:9px">请输入设置密码</div>
    <p><input type="password" id="setting_pwd" placeholder="请输入密码" value="" style="font-size:36px; width:300px"/>
      <input type="button" style="font-size:36px;" class="lbtn" value="登录 >" onClick="do_login()" >
    </p>
    <p style="text-align:right">
      <span id="setting_save_info" style="color:#F00"></span>
    </p>
  </div>
</div>

</body>
</html>